body { margin: 0; font-family: Arial; }

.navbar {
    background: #333;
    padding: 10px;
    display: flex;
    color: white;
    justify-content: space-between;
}

.navbar a { color: white; text-decoration: none; margin: 0 10px; }

.container {
    width: 80%;
    margin: auto;
    padding: 30px 0;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

.btn {
    padding: 10px 15px;
    background: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#preview-box {
    border: 1px solid #ccc;
    padding: 20px;
    background: #fafafa;
    min-height: 200px;
    margin-top: 10px;
}
